name: CI

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

jobs:
  ci:
    name: CI (stable)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install necessary dependencies
        run: |
          sudo apt update
          sudo apt install -y "linux-modules-extra-$(uname -r)"
          sudo modprobe vrf
      - name: Install iproute2 lastest git build
        run: |
          sudo apt-get -y remove iproute2
          git clone https://git.kernel.org/pub/scm/network/iproute2/iproute2.git
          cd iproute2
          ./configure --prefix=/usr
          make -j5
          sudo make install

      - name: Install Rust Stable
        run: |
          rustup override set stable
          rustup update stable

      - name: Integration Tests
        run: make check
